.cotegoryHero {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  display: none;
  text-align: center;
}

.categoryContainer {
  margin: 3rem;
  display: flex;
  width: 90%;
}

.categoryContainer:nth-child(odd) {
  /* justify-content: flex-start;*/
  flex-direction: row;
}
.categoryContainer:nth-child(even) {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
}

.categoryImg {
  height: 15rem;
  border: 5px solid white;
  border-radius: 25px;
}
#foodTitleContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
  text-align: center;
}
#foodTitleContainerItem {
  border: 5px solid white;
  border-radius: 25px;
  background-color: #861d14;
  padding: 0.5rem;
}
#nameOnCat {
  font-family: Abril Fatface;
  color: white;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#fuguIndex {
  text-align: center;
  font-size: 1rem;
}
#containerNaviArrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonNaviArrows {
  background-color: #861d14;
  color: white;
  border: solid white 5px;
  border-radius: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
  font-family: "Abril Fatface", serif;
}
